
li {font-family: cousine;
	font-weight: bold;
	margin: 15px 0;
	}
@media (min-width: 1200px) {
  .container {
    width: 900px;
  }
}
.header 
	{font-weight: bold;
		font-family: Cousine;}
.subheader 
	{font-weight: bold;
		font-family: Cousine;
		font-size:20px;}
.main 
	{text-align: justify;
	text-indent: 3mm;
	font-family: cousine;
	font-size: 17px;
	line-height: 130%}
i 
	{text-align: justify;
	text-indent: 3mm;
	font-family: cousine;
	font-size: 14px;
	line-height: 130%}
.quote 
	{text-align: justify;
		padding-left: 70px;
	    padding-right: 70px;
	    font-family:  cousine;
	    font-size: 15px;
	    font-style: italic;
	}
.gov
	{text-align: center;}
.name
	{padding-top: 45px;
		font-family: Overpass Mono;
		font-size: 45px !important}
.menu
	{padding-top: 50px;
	}
img 
	{max-width: 45%;
    height: auto;
    width: auto\9;
    display: block;
    margin-left: auto;
    margin-right: auto; 
    padding-top: 20px;
    padding-bottom: 20px
    }
iframe {
    display: block;
    margin-left: auto;
    margin-right: auto; 
    padding-top: 20px;
    padding-bottom: 20px}
.ref 
	{margin-top: 30px;	}
.racist
	{max-width: 200% !important;
    border:1px solid #021a40;
	margin-top: 50px;
    margin-bottom: 25px;
	padding-top: 0px;
	padding-bottom: 0px }
.cv
	{max-width: 15% !important;
		}

	a:link{
           color: black; text-decoration: underline
       }
       a:hover{
           color: black;
       }
       a:active{
           color: black;}
           a:visited{ color: inherit
            }
